name: Dev Build and Release

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.14.1

    - run: |
        sudo apt-get update
        mkdir -p .zig-cache

    - run: |
        zig build -Dplatform=aarch64_qemu -Doptimize=ReleaseSafe
        mv ./zig-out/disk.img ./violet-aarch64_qemu.img

    - run: |
        zig build -Dplatform=rpi4 -Doptimize=ReleaseSafe
        mv ./zig-out/disk.img ./violet-rpi4.img

    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "dev"
        prerelease: true
        title: "Development Build"
        files: |
          violet-aarch64_qemu.img
          violet-rpi4.img
          license
          readme.md
