name: Zig Format Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.14.1

    - run: |
        zig fmt --check .
  